{#
/**
 * @file webform-cart-order.html.twig
 * Default theme implementation to present Webform cart order entity data.
 *
 * This template is used when viewing Webform cart order entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_webform_cart_order()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('webform_cart_order') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
