{#
/**
 * @file webform-cart-item.html.twig
 * Default theme implementation to present Webform cart item entity data.
 *
 * This template is used when viewing Webform cart item entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_webform_cart_item()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('webform-cart__item', 'cart__item_' ~ elements['#webform_cart_item'].id.value) }}>
    {% if content %}
      <a href="/webform_cart/deleteItem/{{ elements['#webform_cart_item'].id.value }}" class="badge badge--icon badge--transparent delete-item">
        <span class="badge__text">Remove</span> <i class="icon icon--close"></i>
      </a>
        <div class="webform-cart__item-image">
          <img src="https://via.placeholder.com/100" alt="Product image" class="image--rounded">
        </div>
        <div class="webform-cart__item-info">
          <div class="webform-cart__item-name">
            <a href="{{ content.original_product[0]['#url'] }}">{{ content.original_product[0]['#title'] }}</a>
          </div>
          <div class="webform-cart__details">
            <div class="webform-cart__quantity">
              Quantity: {{ elements['#webform_cart_item'].quantity.value }}
            </div>
          </div>
      </div>
    {% endif %}
</div>